In [1]:
!pip install sqlalchemy
!pip install mysql-connector-python

Requirement already satisfied: sqlalchemy in c:\users\himalaya\anaconda3\lib\site-packages (2.0.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\himalaya\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\himalaya\anaconda3\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: mysql-connector-python in c:\users\himalaya\anaconda3\lib\site-packages (9.5.0)

In [2]:
import pandas as pd
from sqlalchemy import create_engine
from urllib.parse import quote_plus

In [3]:
password = "My@sql#1234"

escaped_password = quote_plus(password)

connection_string = f"mysql+mysqlconnector://root:{escaped_password}@localhost/olist_db"

try:
    engine = create_engine(connection_string)
    print("Connection to olist_db successful!")
except Exception as e:
    print(f"Connection failed: {e}")

Connection to olist_db successful!

# Problem 1:
# “We want to improve customer retention through a loyalty program, but we don’t know which customers are most valuable or at risk of churn.”

In [4]:
my_sql_query = """
SELECT  oc.customer_unique_id,
        SUM(oop.payment_value) AS Monetary,
        COUNT(DISTINCT oo.order_id) AS Frequency,
        DATEDIFF((SELECT MAX(order_purchase_timestamp) FROM olist_orders WHERE order_status = 'delivered'), MAX(oo.order_purchase_timestamp)) AS Recency
        FROM olist_orders oo
    JOIN olist_order_payments oop ON oo.order_id = oop.order_id COLLATE utf8mb4_general_ci
    JOIN olist_customers oc ON oc.customer_id = oo.customer_id COLLATE utf8mb4_general_ci
    WHERE oo.order_status = 'delivered'
    GROUP BY oc.customer_unique_id;
"""
try:
    df_rfm = pd.read_sql(my_sql_query, engine)
    print("RFM data loaded successfully")
    print(df_rfm)
except Exception as e:
    print(f"Query Failed: {e}")

RFM data loaded successfully
                     customer_unique_id  Monetary  Frequency  Recency
0      0000366f3b9a7992bf8c76cfdf3221e2    141.90          1      111
1      0000b849f77a49e4a4ce2b2a4ca5be3f     27.19          1      114
2      0000f46a3911fa3c0805444483337064     86.22          1      537
3      0000f6ccb0745a6a4b88665a16c9f078     43.62          1      321
4      0004aac84e0df4da2b147fca70cf8255    196.89          1      288
...                                 ...       ...        ...      ...
93352  fffcf5a5ff07b0908bd4e2dbc735a684   2067.42          1      447
93353  fffea47cd6d3cc0a88bd621562a9d061     84.58          1      262
93354  ffff371b4d645b6ecea244b27531430a    112.46          1      568
93355  ffff5962728ec6157033ef9805bacc48    133.69          1      119
93356  ffffd2657e2aad2907e67c3e9daecbeb     71.56          1      484

[93357 rows x 4 columns]

checking how many customers placed how many orders

In [5]:
print(df_rfm['Frequency'].value_counts())

Frequency
1     90556
2      2573
3       181
4        28
5         9
6         5
7         3
9         1
15        1
Name: count, dtype: int64

The Problem: Olist is a "one-and-done" shop. They are spending money to get new customers, but they have a massive customer retention problem. Almost no one is making a second purchase.

In [6]:
import numpy as np
import pandas as pd

In [7]:
print(df_rfm.head())

                 customer_unique_id  Monetary  Frequency  Recency
0  0000366f3b9a7992bf8c76cfdf3221e2    141.90          1      111
1  0000b849f77a49e4a4ce2b2a4ca5be3f     27.19          1      114
2  0000f46a3911fa3c0805444483337064     86.22          1      537
3  0000f6ccb0745a6a4b88665a16c9f078     43.62          1      321
4  0004aac84e0df4da2b147fca70cf8255    196.89          1      288

In [8]:
print(df_rfm.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93357 entries, 0 to 93356
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_unique_id  93357 non-null  object
 1   Monetary            93357 non-null  float64
 2   Frequency           93357 non-null  int64
 3   Recency             93357 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 2.8+ MB
None

In [9]:
print(df_rfm[['Monetary','Frequency','Recency']].describe())

           Monetary     Frequency       Recency
count  93357.000000  93357.000000  93357.000000
mean     165.198772      1.033420    237.473783
std      226.314579      0.209099    152.587935
min        9.590000      1.000000      0.000000
25%       63.060000      1.000000    114.000000
50%      107.780000      1.000000    218.000000
75%      182.560000      1.000000    346.000000
max    13664.080000     15.000000    695.000000

In [10]:
ranks = df_rfm['Recency'].rank(method = 'first', ascending = True)
df_rfm['R_Score'] = pd.qcut(ranks, q = 4, labels = [4,3,2,1]).astype(int)

In [11]:
print(df_rfm[['Recency', 'R_Score']])

       Recency  R_Score
0          111        4
1          114        4
2          537        1
3          321        2
4          288        2
...        ...      ...
93352      447        1
93353      262        2
93354      568        1
93355      119        3
93356      484        1

[93357 rows x 2 columns]

In [12]:
print("R_Score distribution (counts):")
print(df_rfm['R_Score'].value_counts().sort_index())

R_Score distribution (counts):
R_Score
1    23339
2    23339
3    23339
4    23340
Name: count, dtype: int64

In [13]:
print("R_Score distribution %:")
df_rfm['R_Score'].value_counts(normalize = True).sort_index()*100

R_Score distribution %:

R_Score
1    24.999732
2    24.999732
3    24.999732
4    25.000803
Name: proportion, dtype: float64

In [14]:
df_rfm['F_Score'] = np.where(df_rfm['Frequency'] == 1, 1, np.where(df_rfm['Frequency'] == 2,2,3))
print(df_rfm[['Frequency', 'F_Score']].head(10))

   Frequency  F_Score
0          1        1
1          1        1
2          1        1
3          1        1
4          1        1
5          1        1
6          1        1
7          1        1
8          1        1
9          1        1

In [15]:
print(df_rfm['F_Score'].value_counts())
print((df_rfm['F_Score'].value_counts(normalize=True) * 100).round(2).astype(str) + "%")

F_Score
1    90556
2     2573
3      228
Name: count, dtype: int64
F_Score
1    97.0%
2    2.76%
3    0.24%
Name: proportion, dtype: object

In [16]:
df_rfm['M_Score'] = pd.qcut(df_rfm['Monetary'].rank(method = 'first', ascending = True), q = 4 , labels = [1,2,3,4]).astype(int)

In [17]:
print(df_rfm['M_Score'].value_counts())
print((df_rfm['M_Score'].value_counts(normalize = True)*100).round(2).astype(str) + "%")

M_Score
1    23340
3    23339
2    23339
4    23339
Name: count, dtype: int64
M_Score
1    25.0%
3    25.0%
2    25.0%
4    25.0%
Name: proportion, dtype: object

In [18]:
df_rfm['RFM_Score'] = (
    df_rfm['R_Score']*100 + df_rfm['F_Score']*10 + df_rfm['M_Score']
)
print(df_rfm[['R_Score', 'F_Score', 'M_Score', 'RFM_Score']])

       R_Score  F_Score  M_Score  RFM_Score
0            4        1        3        413
1            4        1        1        411
2            1        1        2        112
3            2        1        1        211
4            2        1        4        214
...        ...      ...      ...        ...
93352        1        1        4        114
93353        2        1        2        212
93354        1        1        3        113
93355        3        1        3        313
93356        1        1        2        112

[93357 rows x 4 columns]

In [19]:
Is_Champion = (df_rfm['R_Score'] >=3) & (df_rfm['F_Score'] >= 2) & (df_rfm['M_Score'] >=3)
Is_Loyal = (df_rfm['F_Score'] ==3) & (df_rfm['R_Score'] >= 2)
Is_Potential = (df_rfm['R_Score'] ==4) & (df_rfm['F_Score'] == 1) & (df_rfm['M_Score'] >=3)
Is_Promising = (df_rfm['R_Score'] == 4) & (df_rfm['F_Score'] == 1) & (df_rfm['M_Score'] <= 2)
Is_At_Risk = (df_rfm['R_Score'] == 1) & (df_rfm['F_Score'] >= 2)
Is_Cant_Lose = (df_rfm['R_Score'] == 1) & (df_rfm['F_Score'] == 3) & (df_rfm['M_Score'] >= 3)
Is_Needs_Attention = (df_rfm['R_Score'] == 2) & (df_rfm['F_Score'] == 1) & (df_rfm['M_Score'] >= 3)
Is_Hibernating = (df_rfm['R_Score'] == 1) & (df_rfm['F_Score'] == 1) & (df_rfm['M_Score'] <= 2)

In [20]:
df_rfm['Segment'] = np.select(
    condlist=[
      Is_Champion,
      Is_Loyal,
      Is_Potential,
      Is_Promising,
      Is_At_Risk,
      Is_Cant_Lose,
      Is_Needs_Attention,
      Is_Hibernating  
    ],
    choicelist = [
        'Champions',
        'Loyal',
        'Potential Loyal List',
        'Promising',
        "Can't Loose",
        'At Risk',
        'Needs Attention',
        'Hibernation'
    ],
    default = 'Others'
)

In [21]:
print(df_rfm[['RFM_Score','Segment']].head(10))

   RFM_Score               Segment
0        413  Potential Loyal List
1        411             Promising
2        112           Hibernation
3        211                Others
4        214       Needs Attention
5        313                Others
6        311                Others
7        314                Others
8        113                Others
9        313                Others

In [22]:
target_customers = df_rfm.loc[df_rfm['Segment'].isin(['Champions', 'At Risk']),['customer_unique_id', 'RFM_Score', 'Segment']
]

In [23]:
print("Cusotmers targeted for loyalty and Retention")
print(target_customers)

Cusotmers targeted for loyalty and Retention
                     customer_unique_id  RFM_Score    Segment
243    00a39521eb40f7012db50455bf083460        423  Champions
404    011575986092c30523ecb71ff10cb473        324  Champions
419    011b4adcd54683b480c4d841250a987f        324  Champions
428    012452d40dafae4df401bced74cdb490        424  Champions
438    012a218df8995d3ec3bb221828360c86        424  Champions
...                                 ...        ...        ...
92597  fde381fe79993303957d1fcf9cd6bf4a        323  Champions
92708  fe3e52de024b82706717c38c8e183084        423  Champions
92817  fe81bb32c243a86b2f86fbf053fe6140        434  Champions
92922  fed519569d16e690df6f89cb99d4e682        324  Champions
92990  ff03923ad1eb9e32304deb7f9b2a45c9        424  Champions

[1373 rows x 3 columns]

# Problem 2:
# “We suspect delayed deliveries hurt our brand reputation. We need to quantify how delivery delays affect review scores.”

In [24]:
my_sql_query = """
select  oo.order_id,
        DATEDIFF(oo.order_delivered_customer_date, oo.order_estimated_delivery_date) as delay_days,
        oor.review_score,
        CASE
        WHEN DATEDIFF(oo.order_delivered_customer_date, oo.order_estimated_delivery_date) <= 0
            THEN 'On-time / Early'
        WHEN DATEDIFF(oo.order_delivered_customer_date, oo.order_estimated_delivery_date) BETWEEN 1 AND 3
            THEN 'Slight Delay'
        WHEN DATEDIFF(oo.order_delivered_customer_date, oo.order_estimated_delivery_date) BETWEEN 4 AND 3
            THEN 'Moderate Delay'
        ELSE 'Severe Delay'
    END AS delay_bucket
        from olist_orders oo
    join olist_order_reviews oor on oor.order_id = oo.order_id
        where order_status = 'delivered'
    and oo.order_delivered_customer_date is not null
    and oo.order_estimated_delivery_date is not null;
"""
try:
    df_olist_orders_delay = pd.read_sql(my_sql_query, engine)
    print(df_olist_orders_delay)
except Exception as e:
    print(f"Query Failed: {e}")

                               order_id  delay_days  review_score  \
0      fc046d7776171871436844218f817d7d         0.0             5
1      d4665434b01caa9dc3e3e78b3eb3593e       -22.0             5
2      e28abf2eb2f1fbcbdc2dd0cd9a561671       -16.0             5
3      04fb47576993a3cb0c12d4b25eab6e4e        -9.0             5
4      5f358d797a49fe2f24352f73426215f6       -12.0             5
...                                 ...         ...           ...
95602  4069c489933782af79afcd3a0e4d693c       -14.0             4
95603  0efaa1dd18856769a1bcc489004fbe3b        -7.0             5
95604  fceb38f42fbf13b53a6253648c8d47cf       -14.0             1
95605  9a54562498faf18f39a0e387976e11a5        -6.0             5
95606  1061bc32577c6b8beb107bf1b5a65175       -12.0             5

          delay_bucket
0      On-time / Early
1      On-time / Early
2      On-time / Early
3      On-time / Early
4      On-time / Early
...                ...
95602  On-time / Early
95603  On-time / Early
95604  On-time / Early
95605  On-time / Early
95606  On-time / Early

[95607 rows x 4 columns]

In [25]:
delay_impact = (
    df_olist_orders_delay
    .groupby('delay_bucket')
    .agg(
        order_count=('order_id', 'count'),
        avg_review_score=('review_score', 'mean')
    )
    .reset_index()
)
print(delay_impact)

      delay_bucket  order_count  avg_review_score
0  On-time / Early        89239          4.292339
1     Severe Delay         4525          1.857459
2     Slight Delay         1843          3.293001

# Problem 3:
# “We have limited storage capacity. Which product categories generate the highest revenue and which consume resources without returns?”

In [26]:
my_sql_query = """
    SELECT
        REPLACE(pcnt.product_category_name_english, '\r', '') AS ProductCategory,
        SUM(ooi.price) AS ProductRevenue
    FROM
        olist_order_items AS ooi
    JOIN
        olist_products AS op ON ooi.product_id = op.product_id COLLATE utf8mb4_general_ci
    JOIN
        product_category_name_translation AS pcnt ON pcnt.product_category_name = op.product_category_name COLLATE utf8mb4_general_ci
    JOIN
        olist_orders AS oo ON oo.order_id = ooi.order_id COLLATE utf8mb4_general_ci
    WHERE
        oo.order_status = 'delivered'
    GROUP BY
        pcnt.product_category_name_english
    ORDER BY
        ProductRevenue DESC
"""
try:
    df_top_categories = pd.read_sql(my_sql_query, engine)
    print("Top 10 Categories by Revenue")
    print(df_top_categories)
except Exception as e:
    print(f"Query Failed: {e}")

Top 10 Categories by Revenue
              ProductCategory  ProductRevenue
0               health_beauty      1233131.72
1               watches_gifts      1166176.98
2              bed_bath_table      1023434.76
3              sports_leisure       954852.55
4       computers_accessories       888724.61
..                        ...             ...
66                    flowers         1110.04
67             home_comfort_2          760.27
68          cds_dvds_musicals          730.00
69  fashion_childrens_clothes          519.95
70      security_and_services          283.29

[71 rows x 2 columns]

# Problem 4:
# “We invest heavily in lead generation, but we lack visibility into our conversion funnel — how many leads actually convert into paying customers?”

In [27]:
my_sql_query = """ 
WITH total_leads AS (
    SELECT COUNT(DISTINCT mql_id) AS total_leads
    FROM olist_marketing_leads
),
closed_deals AS (
    SELECT COUNT(DISTINCT mql_id) AS closed_deals
    FROM olist_closed_deals
),
active_sellers AS (
    SELECT COUNT(DISTINCT ocd.seller_id) AS active_sellers
    FROM olist_closed_deals ocd
    JOIN olist_order_items ooi
        ON ocd.seller_id COLLATE utf8mb4_unicode_ci
         = ooi.seller_id COLLATE utf8mb4_unicode_ci
    JOIN olist_orders oo
    ON oo.order_id COLLATE utf8mb4_unicode_ci
     = ooi.order_id COLLATE utf8mb4_unicode_ci
    WHERE oo.order_status = 'delivered'
)

SELECT
    tl.total_leads,
    cd.closed_deals,
    a.active_sellers,

    (cd.closed_deals * 100.0 / tl.total_leads) AS lead2deal_conv_rate,
    (a.active_sellers * 100.0 / cd.closed_deals) AS deal2active_seller_conv_rate,
    (a.active_sellers * 100.0 / tl.total_leads) AS overall_conversion
FROM total_leads tl
CROSS JOIN closed_deals cd
CROSS JOIN active_sellers a;
"""
try: 
    df_olist_conv_rate = pd.read_sql(my_sql_query, engine)
    print(df_olist_conv_rate)
except Exception as e:
    print(f"Query Failed: {e}")

   total_leads  closed_deals  active_sellers  lead2deal_conv_rate  \
0         8000           842             376               10.525

   deal2active_seller_conv_rate  overall_conversion
0                      44.65558                 4.7